@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'SUSE Mono', sans-serif;
    list-style: none;
}
body {
    padding: 2rem;
    height: 100vh;
    background: linear-gradient(to bottom, #495261, #1e1f21);
    
}
h1 {
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    margin-bottom: 2rem;
}
h3 {
    font-weight: 600;
    text-align: center;
    color: #221616;
    margin-bottom: 2rem;
}
.calendar {
    margin: auto;
    width: 380px;
    padding: 1rem;
    background: #683d3d;
    border-radius: 10px;
    box-shadow: 00 10px rgba(0,0,0, 0.2);
}
.calendar header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.calendar ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.calendar ul li {
    width: calc(100%/7);
    margin-top: 25px;
    position: relative;
    z-index: 2;
    color: #000000
}
#prev, #next {
    width: 20px;
    height: 20px;
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
}
#prev::before, #next::before {
    content: '';
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    border-color: #221616
}
#prev::before {
    transform: translate(-50%, -50%) rotate(-135deg);
}
#next::before {
    transform: translate(-50%, -50%) rotate(45deg);
}
prev:hover::before, next:hover::before {
    border-color: #000;
}
.days {
    font-weight: 600;  
}
.dates li.today {
    color: #fff
}
.dates li.today::before {
    content: '';
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    border-radius: 50%;
    z-index: -1
}
#prev::before{
    transform: translate(-50%, 50%) rotate (-135deg);
}
#next::before{
    transform: translate(-50%, 50%) rotate (45deg);
}
#prev:hover::before, #next:hover::before {
    border-color: #000;
}
.days{
    font-weight: 600;
}
.dates li.today{
    color: #fff;
}
.dates li.today::before{
    content: '';
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #9e7272;
    border-radius: 50%;
    z-index: -1;
}
.dates li.inactive {
    color: #382b2b;
    background: repeating-linear-gradient(
        45deg,
        #ad6e6e,
        #ad6e6e 10px,
        #683d3d 10px,
        #683d3d 20px
    );
    
}
.dates li.free {
    background: repeating-linear-gradient(
        -45deg,
       #8fbc8f,
       #8fbc8f 8px,
       #9e7272 8px,
       #937272 16px
    );
    color: fff;
    font-weight: 600;
}
.dates li:not(.inactive):hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.2s ease;
}
.dates li.today.free::before {
    background: #8fbc8f;
    opacity: 0.7;
}
.dates li.user-a-only {
    background: repeating-linear-gradient(
        45deg,
        #ad6e6e,
        #701f1f 10px,
        #251d1d 10px,
        #453e3e 20px
    );
}
.dates li.user-b-only {
    background: repeating-linear-gradient(
        45deg,
        #3d1bff,
        #8d07d5 10px,
        #7507b0 10px,
        #a901fd 20px
    ),
    repeating-linear-gradient(
        -45deg,
        #3d1bff,
        #8d07d5 10px,
        #7507b0 10px,
        #a901fd 20px
    ),
    #a901fd;
    
}
.dates li.intersection {
    background-color: green;
    color: white;
    font-weight: bold;
}
.legend-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: #1e1f21 solid 1px;
    margin-right: 5px;
}
.legend-box.user-a-pattern {
     background: repeating-linear-gradient(
        45deg,
        #ad6e6e,
        #701f1f 10px,
        #251d1d 10px,
        #453e3e 20px
    );
}
.legend-box.user-b-pattern {
    background: repeating-linear-gradient(
        45deg,
        #3d1bff,
        #8d07d5 10px,
        #7507b0 10px,
        #a901fd 20px
    ),
    repeating-linear-gradient(
        -45deg,
        #3d1bff,
        #8d07d5 10px,
        #7507b0 10px,
        #a901fd 20px
    ),
    #a901fd;
}
.legend-box.intersection-pattern {
    background-color: green;
    color: white;
    font-weight: bold;
}
.calendar.comparison-mode .dates li:not(.inactive) {
    cursor: default;
    
}
.calendar.comparison-mode .dates li:not(.inactive):hover {
    transform: none;
    background: none;
    color: inherit;
}
